TOMCAT_DIR="/usr/share/tomcat"
TOMCAT_SERVICE="tomcat"
SCRIPTS_DIR="/home/ec2-user/depl-scripts"

RELEASES_REPO_URL="[placeholder]"
SNAPSHOT_REPO_URL="[placeholder]"
REPOSITORY_UN="[placeholder]"
REPOSITORY_PWD="[placeholder]"

WEBSITE="[placeholder]"
VERSION="[placeholder]"
ENTERPRISE_EDITION="[placeholder]"

DB_OWNER_USER="[placeholder]"
DB_OWNER_PASSWORD="[placeholder]"
DB_USER_PASSWORD="[placeholder]"
DB_PKG_PASSWORD="[placeholder]"
DB_URL="[placeholder]"

AES_PASSWORD="[placeholder]"
