SCRIPTS_DIR="$HOME/depl-scripts"

RELEASES_REPO_URL=""
SNAPSHOT_REPO_URL=""
REPOSITORY_UN=""
REPOSITORY_PWD=""

VERSION=""

DB_OWNER_USER=""
DB_OWNER_PASSWORD=""
DB_USER_PASSWORD=""
DB_RPT_PASSWORD=""
DB_URL=""

AES_PASSWORD=""

DB_MONITOR_USER=""
DB_MONITOR_PASSWORD=""
MONITORING_VERSION=""
