[Unit]
Description=${SERVICE_NAME} APP
After=network.target
StartLimitIntervalSec=400
StartLimitBurst=5

[Service]
Type=forking
User=${SERVICE_UN}
WorkingDirectory=${SERVICE_PATH}
EnvironmentFile=${SERVICE_PATH}/${JAR_NAME}.conf
ExecStart=${SERVICE_PATH}/app-launcher.sh
StandardOutput=${SERVICE_PATH}/run.out
PIDFile=${SERVICE_PATH}/run.pid
SuccessExitStatus=143
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
