#!/bin/bash

if [ -d "${TOMCAT_PATH}/conf/conf.d" ]; then
    for file in "${TOMCAT_PATH}/conf/conf.d"/*.conf ; do
        if [ -f "${DOLLAR_SYMBOL}file" ] ; then
            # shellcheck disable=SC1090
            . "${DOLLAR_SYMBOL}file"
        fi
    done
fi
