#!/bin/bash

. "${TOMCAT_PATH}/conf/tomcat.conf"

if [ -d "${TOMCAT_PATH}/conf/conf.d" ]; then
    for file in "${TOMCAT_PATH}/conf/conf.d"/*.conf ; do
        if [ -f "$file" ] ; then
            # shellcheck disable=SC1090
            . "$file"
        fi
    done
fi
